@font-face {
    font-family: splatoon;
    src: url(/static/Splatoon1.otf);
    
}
html {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
    font-family: splatoon;
    color: gray;
}
.home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 10px;
    padding: 10px;
    border: 3px solid red;
    position: relative;
    height: fit-content;
}
.description {
    background-color: #aaaaaa;
    border-radius: 10px;
    height: fit-content;
    text-indent: 10px;
}
.links {
    background-color: #aaaaaa;
    border-radius: 10px;
    height: fit-content;
    text-indent: 10px;
    padding: 50px;
}
.all {
    background-color: azure;
    border-radius: 10px;
    height: 100px;
    text-indent: 10px;
    text-align: center;
}
.weapon_types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 50px 50px;
}
.link {
    background-color: coral;
    border-radius: 10px;
    height: 100px;
    text-align: center;
}
.data_table {
    text-align: center;
    border-collapse: collapse;
}


body {
    background-color: #f0f0f0;
}
.main {
    border-radius: 50px;
    background-color: black;
    position: fixed;
    left: 10vw;
    top: 20vh;
    width: 40vw;
    height: 60vh;
    border: 1px solid black;
}
.main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2vw;
    row-gap: 1vw;
    column-gap: 1vw;
}
.main_weapon {
    text-align: center;
    border: 1px solid #f0f0f0;
    width: 7vw;
    height: 7vw;
}
.main_weapon_background {
    position: relative;
    border-radius: 10px;
    background-color: white;
    left: 10%;
    top: 10%;
    width: 80%;
    padding-bottom: 80%;
}
.yellow_banner {
    background-color: yellow;
    position: relative;
    width: 100%;
    height: 30%;
    top: 70%;
}
.main_image {
    position: relative;
    width: 6vw;
    height: 6vw;
    top: -15px;
}