@font-face {
    font-family: splatoon;
    src: url(/static/Splatoon1.otf);
}
html {
    font-family: splatoon;
    color: gray;
}

.home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px 10px;
    padding: 10px;
    border: 3px solid red;
    position: relative;
    height: fit-content;
}
.description {
    background-color: #aaaaaa;
    border-radius: 10px;
    height: fit-content;
    text-indent: 10px;
}
.links {
    background-color: #aaaaaa;
    border-radius: 10px;
    height: fit-content;
    text-indent: 10px;
    padding: 50px;
}
.all_link {
    background-color: azure;
    border-radius: 10px;
    height: 100px;
    text-indent: 10px;
    text-align: center;
}
.weapon_types {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    gap: 50px 50px;
}
.link {
    background-color: coral;
    border-radius: 10px;
    height: 100px;
    text-align: center;
}
.data_table {
    text-align: center;
    border-collapse: collapse;
}


body {
    background-color: #f0f0f0;
}
.all {
    border-radius: 3vw;
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 10vw;
    top: 20vh;
    width: 40vw;
    height: 60vh;
}
.all_grid {
    display: grid;  
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2vw;
    row-gap: 1vw;
    column-gap: 1vw;
}
.all_weapon {
    text-align: center;
    border: 1px solid #f0f0f0;
    background-color: rgb(30, 30, 30);
    width: 7vw;
    height: 7vw;
}
.main_image {
    position: relative;
    width: 6.2vw;
    height: 6.2vw;
    top: 0.5vh;
}
.yellow_banner {
    background-color: yellow;
    position: relative;
    width: 100%;
    height: 2vw;
    top: -2vw;
}
.sub_image {
    position: relative;
    width: 2vw;
    height: 2vw;
}
.special_image {
    position: relative;
    width: 2vw;
    height: 2vw;
}
.back_button {
    position: fixed;
    top: 40vh;
    left: 4vw;
    height: 5vh;
    width: 5vw;
    padding-left: 1vw;
    background-color: black;
    clip-path: polygon(1vw 100%,0 0,100% 0,100% 100%);
}
.next_button {
    position: fixed;
    top: 40vh;
    right: 44vw;
    height: 5vh;
    width: 5vw;
    padding-left: 1vw;
    background-color: black;
    clip-path: polygon(0 0, 100% 0, 4vw 100%, 0% 100%);
}
.all_weapon_data {
    position: fixed;
    left: 60vw;
    top: 20vh;
    width: 30vw;
    height: 60vh;
    background-color: #aaaaaa;
}