{% extends "layout.html" %}
{% block content %}
{% if message == "login failed" %}
<a href="/admin_login"><p>{{message}}</p></a>
{% else %}
<!-- make separate pages for each of them :) -->
<div>
    <form action="/add_weapon" method="post">
        <table>
            <tr>
                <td>
                    <select name="update" id="update" class="font2 black">
                    <option value="add">Add to existing table</option>
                    <option value="update">Update existing data</option>
                    <option value="delete">Delete an existing weapon from the database</option>
                    <!-- TODO make delete function -->
                    </select>
                </td>
                <td>
                    <select name="table" id="table" class="font2 black">
                        <option value="weapon">Weapon</option>
                        <option value="main">Main Weapon</option>
                        <option value="sub">Sub Weapon</option>
                        <option value="special">Special Weapon</option>
                    </select>
                </td>
            </tr>


            <tr class="weapontable">
                <td>
                    <label for="id" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="id" class="font2 black">
                </td>
            </tr>
            <tr class="weapontable">
                <td>
                    <label for="WeaponName" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="WeaponName" class="font2 black">
                </td>
            </tr>
            <tr class="weapontable">
                <td>
                    <label for="MainWeaponID" class="font2 black">Main Weapon</label>
                </td>
                <td>
                    <select name="MainWeaponID" id="post" class="font2 black">
                        <option value="">select main weapon</option>
                        {% for weapon in main_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="weapontable">
                <td>
                    <label for="SubWeaponID" class="font2 black">Sub Weapon</label>
                </td>
                <td>
                    <select name="SubWeaponID" id="post" class="font2 black">
                        <option value="">select sub weapon</option>
                        {% for weapon in sub_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="weapontable">
                <td>
                    <label for="SpecialWeaponID" class="font2 black">Special Weapon</label>   
                </td>
                <td>
                    <select name="SpecialWeaponID" id="post" class="font2 black">
                        <option value="">select special weapon</option>
                        {% for weapon in special_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="weapontable">
                <td>
                    <label for="SpecialPoint" class="font2 black">Required Special Points</label>
                </td>
                <td>
                    <input type="number" name="SpecialPoint" class="font2 black">
                </td>
            </tr>
            <tr class="weapontable">
                <td>
                    <label for="VersionID" class="font2 black">Introduced Version</label>
                </td>
                <td>
                    <input type="number" name="VersionID" class="font2 black" min="0" max="10">
                </td>
            </tr>


            <tr class="maintable">
                <td>
                    <label for="mainid" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="mainid" class="font2 black">
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainMainWeaponName" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="mainMainWeaponName" class="font2 black">
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainWeaponType" class="font2 black">Weapon Type</label>
                </td>
                <td>
                    <select name="mainWeaponType" id="post" class="font2 black">
                        <option value="">Select Weapon Type</option>
                        {% for types in main_types %}
                        <option value="{{types[0]}}">{{types[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainDamage" class="font2 black">Damage</label>
                </td>
                <td>
                    <input type="number" name="mainDamage" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainRange" class="font2 black">Range</label>
                </td>
                <td>
                    <input type="number" name="mainRange" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainAttackRate" class="font2 black">Attack Rate</label>
                </td>
                <td>
                    <input type="number" name="mainAttackRate" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainInkUsage" class="font2 black">Ink Usage</label>
                </td>
                <td>
                    <input type="number" name="mainInkUsage" step="0.01" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="maintable">
                <td>
                    <label for="mainSpeedWhileShooting" class="font2 black">Speed While Shooting</label>
                </td>
                <td>
                    <input type="number" name="mainSpeedWhileShooting" class="font2 black" min="0">
                </td>
            </tr>
            

            <tr class="subtable">
                <td>
                    <label for="subid" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="subid" class="font2 black">
                </td>
            </tr>
            <tr class="subtable">
                <td>
                    <label for="subSubWeaponName" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="subSubWeaponName" class="font2 black">
                </td>
            </tr>
            <tr class="subtable">
                <td>
                    <label for="subDamage" class="font2 black">Damage</label>
                </td>
                <td>
                    <input type="number" name="subDamage" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="subtable">
                <td>
                    <label for="subInkConsumption" class="font2 black">Ink Consumption</label>
                </td>
                <td>
                    <input type="number" name="subInkConsumption" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="subtable">
                <td>
                    <label for="subTrackingDuration" class="font2 black">Tracking Duration</label>
                </td>
                <td>
                    <input type="number" name="subTrackingDuration" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="subtable">
                <td>
                    <label for="subDamageDuration" class="font2 black">Damage Duration</label>
                </td>
                <td>
                    <input type="number" name="subDamageDuration" min="0" step="0.5" class="font2 black">
                </td>
            </tr>
            

            <tr class="specialtable">
                <td>
                    <label for="specialid" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="specialid" class="font2 black">
                </td>
            </tr>
            <tr class="specialtable">
                <td>
                    <label for="specialSpecialWeaponName" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="specialSpecialWeaponName" class="font2 black">
                </td>
            </tr>
            <tr class="specialtable">
                <td>
                    <label for="specialDamage" class="font2 black">Damage</label>
                </td>
                <td>
                    <input type="number" name="specialDamage" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="specialtable">
                <td>
                    <label for="specialNumberOfAttacks" class="font2 black">Number of Attacks</label>
                </td>
                <td>
                    <input type="number" name="specialNumberOfAttacks" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="specialtable">
                <td>
                    <label for="specialDuration" class="font2 black">Attack / Tracking Duration</label>
                </td>
                <td>
                    <input type="number" name="specialDuration" min="0" class="font2 black">
                </td>
            </tr>

        </table>
        <input type="submit" value="Submit" class="font2 black">
    </form>
</div>
{% endif %}
{% endblock %}