{% extends "layout.html" %}
{% block content %}
{% if message == "login failed" %}
<a href="/admin_login"><p>{{message}}</p></a>
{% else %}
<!-- make separate pages for each of them :) -->
<div>
    <form action="/add_weapon" method="post">
        <table>
            <tr>
                <td>
                    <select name="update" id="update" class="font2 black">
                    <option value="add">Add to existing table</option>
                    <option value="update">Update existing data</option>
                    <option value="delete">Delete an existing weapon from the database</option>
                    <!-- TODO make delete function -->
                    </select>
                </td>
                <td>
                    <select name="table" id="table" class="font2 black">
                        <option value="weapon">Weapon</option>
                        <option value="main">Main Weapon</option>
                        <option value="sub">Sub Weapon</option>
                        <option value="special">Special Weapon</option>
                    </select>
                </td>
            </tr>


            <tr class="weapon-table">
                <td>
                    <label for="id" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="id" class="font2 black">
                </td>
            </tr>
            <tr class="weapon-table">
                <td>
                    <label for="weapon_name" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="weapon_name" class="font2 black">
                </td>
            </tr>
            <tr class="weapon-table">
                <td>
                    <label for="main_weapon" class="font2 black">Main Weapon</label>
                </td>
                <td>
                    <select name="main_weapon" id="post" class="font2 black">
                        <option value="">select main weapon</option>
                        {% for weapon in main_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="weapon-table">
                <td>
                    <label for="sub_weapon" class="font2 black">Sub Weapon</label>
                </td>
                <td>
                    <select name="sub_weapon" id="post" class="font2 black">
                        <option value="">select sub weapon</option>
                        {% for weapon in sub_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="weapon-table">
                <td>
                    <label for="speical_weapon" class="font2 black">Special Weapon</label>   
                </td>
                <td>
                    <select name="special_weapon" id="post" class="font2 black">
                        <option value="">select special weapon</option>
                        {% for weapon in special_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="weapon-table">
                <td>
                    <label for="points" class="font2 black">Required Spcieal Points</label>
                </td>
                <td>
                    <input type="number" name="points" class="font2 black">
                </td>
            </tr>
            <tr class="weapon-table">
                <td>
                    <label for="version" class="font2 black">Introduced Version</label>
                </td>
                <td>
                    <input type="number" name="version" class="font2 black" min="0" max="10">
                </td>
            </tr>


            <tr class="main-table">
                <td>
                    <label for="id" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="id" class="font2 black">
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="weapon_name" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="weapon_name" class="font2 black">
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="weapon_type" class="font2 black">Weapon Type</label>
                </td>
                <td>
                    <select name="weapon_type" id="post" class="font2 black">
                        <option value="">Select Weapon Type</option>
                        {% for types in main_types %}
                        <option value="{{types[0]}}">{{types[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="damage" class="font2 black">Damage</label>
                </td>
                <td>
                    <input type="number" name="damage" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="range" class="font2 black">Range</label>
                </td>
                <td>
                    <input type="number" name="range" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="attack_rate" class="font2 black">Attack Rate</label>
                </td>
                <td>
                    <input type="number" name="attack_rate" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="ink_usage" class="font2 black">Ink Usage</label>
                </td>
                <td>
                    <input type="number" name="ink_usage" step="0.01" class="font2 black" min="0">
                </td>
            </tr>
            <tr class="main-table">
                <td>
                    <label for="speed" class="font2 black">Speed While Shooting</label>
                </td>
                <td>
                    <input type="number" name="speed" class="font2 black" min="0">
                </td>
            </tr>
            

            <tr class="sub-table">
                <td>
                    <label for="id" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="id" class="font2 black">
                </td>
            </tr>
            <tr class="sub-table">
                <td>
                    <label for="weapon_name" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="weapon_name" class="font2 black">
                </td>
            </tr>
            <tr class="sub-table">
                <td>
                    <label for="damage" class="font2 black">Damage</label>
                </td>
                <td>
                    <input type="number" name="damage" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="sub-table">
                <td>
                    <label for="ink_consumption" class="font2 black">Ink Consumption</label>
                </td>
                <td>
                    <input type="number" name="ink_consumption" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="sub-table">
                <td>
                    <label for="tracking" class="font2 black">Tracking Duration</label>
                </td>
                <td>
                    <input type="number" name="tracking" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="sub-table">
                <td>
                    <label for="duration" class="font2 black">Damage Duration</label>
                </td>
                <td>
                    <input type="number" name="duration" min="0" step="0.5" class="font2 black">
                </td>
            </tr>
            

            <tr class="special-table">
                <td>
                    <label for="id" class="font2 black">ID</label>
                </td>
                <td>
                    <input type="number" name="id" class="font2 black">
                </td>
            </tr>
            <tr class="special-table">
                <td>
                    <label for="weapon_name" class="font2 black">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="weapon_name" class="font2 black">
                </td>
            </tr>
            <tr class="special-table">
                <td>
                    <label for="damage" class="font2 black">Damage</label>
                </td>
                <td>
                    <input type="number" name="damage" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="special-table">
                <td>
                    <label for="number_attacks" class="font2 black">Number of Attacks</label>
                </td>
                <td>
                    <input type="number" name="number_attacks" min="0" class="font2 black">
                </td>
            </tr>
            <tr class="special-table">
                <td>
                    <label for="duration" class="font2 black">Attack / Tracking Duration</label>
                </td>
                <td>
                    <input type="number" name="duration" min="0" class="font2 black">
                </td>
            </tr>

        </table>
        <input type="submit" value="Submit" class="font2 black">
    </form>
</div>
{% endif %}
{% endblock %}