{% extends "layout.html" %}
{% block content %}
<h1 class="font1 black">Login to access the admin page</h1>
{% with error = get_flashed_messages() %}
{{error[0]}}
{% endwith %}
<form action="/admin_login" method="post">
    <label for="username" class="font2 black">Username</label>
    <input type="text" name="username" class="font2 black">
    <label for="password" class="font2 black">Password</label>
    <input type="password" name="password" class="font2 black">
    <button type="submit" class="font2 black">Login</button>
</form>
{% endblock %}