{% extends "layout.html" %}
{% block content %}
{% if message == "login failed" %}
<a href="/admin_login"><p>{{message}}</p></a>
{% else %}
<div>
    <form action="/add_weapon" method="post">
        <table id="table-base">
            <tr>
                <td>
                    <select name="update" id="update" class="font2 black">
                    <option value="add">Add to existing table</option>
                    <option value="update">Update existing data</option>
                    <option value="delete">Delete an existing weapon from the database</option>
                    <!-- TODO make delete function -->
                    </select>
                </td>
                <td>
                    <select name="table" id="table" class="font2 black">
                        <option value="weapon">Weapon</option>
                        <option value="main">Main Weapon</option>
                        <option value="sub">Sub Weapon</option>
                        <option value="special">Special Weapon</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id" class="font2 black admin-label">ID</label>
                </td>
                <td>
                    <input type="number" name="id" class="font2 black">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="weapon_name" class="font2 black admin-label">Weapon Name</label>
                </td>
                <td>
                    <input type="text" name="weapon_name" class="font2 black">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="main_weapon" class="font2 black admin-label">Main Weapon</label>
                </td>
                <td>
                    <select name="main_weapon" id="post" class="font2 black">
                        <option value="">select main weapon</option>
                        {% for weapon in main_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sub_weapon" class="font2 black admin-label">Sub Weapon</label>
                </td>
                <td>
                    <select name="sub_weapon" id="post" class="font2 black">
                        <option value="">select sub weapon</option>
                        {% for weapon in sub_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="speical_weapon" class="font2 black admin-label">Special Weapon</label>   
                </td>
                <td>
                    <select name="special_weapon" id="post" class="font2 black">
                        <option value="">select special weapon</option>
                        {% for weapon in special_weapons %}
                        <option value="{{weapon[0]}}">{{weapon[0]}}</option>
                        <hr>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="points" class="font2 black admin-label">Required Spcieal Points</label>
                </td>
                <td>
                    <input type="number" name="points" class="font2 black">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="version" class="font2 black admin-label">Introduced Version</label>
                </td>
                <td>
                    <input type="number" name="version" class="font2 black" min="0" max="10">
                </td>
            </tr>
        </table>
        <input type="submit" value="Submit" class="font2 black">
    </form>
</div>
{% endif %}
{% endblock %}