{% extends "layout.html" %}
{% block content %}
<!-- <head><link rel="stylesheet" type="text/css" href="/static/style.css"></head> -->
<div class="weapon-grid">
    {% for weapon in weapons %}
    <div>
        {% if weapon[0] != selected_weapon[0] %}
        <a href="/all/{{page}}/{{weapon[0]}}"><img src="/static/main_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="weapon-img" onerror="this.onerror=null;this.src='/static/other_images/loading.gif'"></a>
        {% else %} 
        <a href="/all/{{page}}/0"><img src="/static/main_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="weapon-img" onerror="this.onerror=null;this.src='/static/other_images/loading.gif'"></a>
        {% endif %}
        <div class="all-yellow_bar">
            <img src="/static/sub_weapon/{{weapon[3]}}.png" alt="{{weapon[3]}}" class="all-sub-img">
            <img src="/static/special_weapon/{{weapon[4]}}.png" alt="{{weapon[4]}}" class="all-special-img">
        </div>
    </div>
    {% endfor %}
    {% if page == 1 %}
    <div class="weapon-back-button"><a href="/all/{{total_pages}}/{{selected_weapon[0]}}">back</a></div>
    {% else %}
    <div class="weapon-back-button"><a href="/all/{{page-1}}/{{selected_weapon[0]}}">back</a></div>
    {% endif %}
    {% if page >= total_pages %}
    <div class="weapon-next-button"><a href="/all/{{1}}/{{selected_weapon[0]}}">next</a></div>
    {% else %}
    <div class="weapon-next-button"><a href="/all/{{page+1}}/{{selected_weapon[0]}}">next</a></div>
    {% endif %}
</div>

{% if selected_weapon[0] != 0 %}
<div class="weapon-data-background">
    <div class="weapon-data-yellow-background">
        <div class="weapon-data-name">
            <h1>{{selected_weapon[1]}}</h1>
        </div>
    </div>
    <div class="weapon-data-grid">
        <a href="/main/{{selected_weapon[7]}}/{{selected_weapon[2]}}"><img src="/static/main_weapon/{{selected_weapon[1]}}.png" alt="{{selected_weapon[1]}}" class="weapon-data-img"></a>
        <div>
            <a href="/sub/1/{{selected_weapon[3]}}"><div class="all-data-black-box">
                <img src="/static/sub_weapon/{{selected_weapon[3]}}.png" alt="{{selected_weapon[3]}}" class="all-data-sub-img">
                <span class="all-data-text">{{selected_weapon[8]}}</span>
            </div></a>
            <a href="/special/1/{{selected_weapon[4]}}"><div class="all-data-black-box">
                <img src="/static/special_weapon/{{selected_weapon[4]}}.png" alt="{{selected_weapon[4]}}" class="all-data-special-img">
                <span class="all-data-text">{{selected_weapon[9]}}</span>
            </div></a>
            <p>Introduced Version: {{selected_weapon[6]}}</p>
        </div>
    </div>
    <p class="all-data-special-points">Points for Special: {{selected_weapon[5]}}p</p>
</div>
{% endif %}
{% endblock %}