{% extends "layout.html" %}
{% block content %}
<div class="all">
    <div class="all_grid">
        

        {% for weapon in weapon %}
        <div class="all_weapon">
            <a href="/all/{{page}}/{{weapon[0]}}"><img src="/static/main_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="main_image"></a>
            <div class="yellow_banner">
                <img src="/static/sub_weapon/{{weapon[3]}}.png" alt="{{weapon[3]}}" class="sub_image">
                <img src="/static/special_weapon/{{weapon[4]}}.png" alt="{{weapon[4]}}" class="special_image">
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="back_button"><a href="/all/{{page-1}}/{{selected_weapon[0]}}">back</a></div>
    <div class="next_button"><a href="/all/{{page+1}}/{{selected_weapon[0]}}">next</a></div>
    {% if selected_weapon[0] != 0 %}
    <div class="all_weapon_data">
        <img src="/static/main_weapon/{{selected_weapon[1]}}.png" alt="{{selected_weapon[1]}}">
        <h1>{{selected_weapon[1]}}</h1>
        <img src="/static/sub_weapon/{{selected_weapon[3]}}.png" alt="{{selected_weapon[3]}}">
        <img src="/static/special_weapon/{{selected_weapon[4]}}.png" alt="{{selected_weapon[4]}}">
    </div>
    {% endif %}
</div>
{% endblock %}