{% extends "layout.html" %}
{% block content %}
<iframe frameborder="0" src="https://itch.io/embed-upload/6376073?color=333333" allowfullscreen="" width="400" height="250"><a href="https://chchnyanko.itch.io/match-a-block-final">Play Match a Block Final on itch.io</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed-upload/7426080?color=4c344e" allowfullscreen="" width="400" height="250"><a href="https://chchnyanko.itch.io/aroha">Play A Really Original Hard Adventure on itch.io</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed-upload/11306262?color=551969" allowfullscreen="" width="400" height="250"><a href="https://chchnyanko.itch.io/spectral-odyssey-final">Play Spectral Odyssey on itch.io</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed-upload/11305226?color=cc9362" allowfullscreen="" width="400" height="250"><a href="https://20104.itch.io/pirates-gambit-final">Play Pirates Gambit - FINAL on itch.io</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed-upload/11287009?color=333333" allowfullscreen="" width="400" height="250"><a href="https://chchnyanko.itch.io/cyber-cider3-sprint2">Play Cyber Cider3 sprint2 on itch.io</a></iframe>
{% endblock %}