{% extends "layout.html" %}
{% block content %}
<iframe frameborder="0" src="https://itch.io/embed-upload/6376073?color=333333" allowfullscreen="" width="640" height="380"><a href="https://chchnyanko.itch.io/match-a-block-final">Play Match a Block Final on itch.io</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed/1944109" width="552" height="167"><a href="https://chchnyanko.itch.io/aroha">A Really Original Hard Adventure by chchnyanko, LeviDon, Kanash1</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed/2226927" width="552" height="167"><a href="https://chchnyanko.itch.io/spectral-odyssey-final">Spectral Odyssey by chchnyanko, Kanash1, LeviDon</a></iframe>
<iframe frameborder="0" src="https://itch.io/embed/2637722" width="552" height="167"><a href="https://20104.itch.io/pirates-gambit-final">Pirates Gambit - FINAL by 20104, chchnyanko</a></iframe>
{% endblock %}