
{% extends "layout.html" %}
{% block content %}
<div>
    <h1 class="title">Splatoon 3</h1>
</div>
<div class="home">
    <div class="description">
        <p>Description of page</p>
    </div>
    <div class="links">
        <div class="all_link">
            <p><a href="/all/1/0">View all weapons and kits</a></p>
        </div>
        <div class="weapon_types">
            <div class="link">
                <p><a href="/main">Main weapons</a></p>
            </div>
            <div class="link">
                <p><a href="/type">Main weapons by type</a></p>
            </div>
            <div class="link">
                <p><a href="/sub">Sub weapons</a></p>
            </div>
            <div class="link">
                <p><a href="/special">Special weapons</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
