{% extends "layout.html" %}
{% block content %}
<div class="main">
    <div class="main_grid">
        

        {% for mains in weapon %}
        <div class="main_weapon">
            <!-- <div class="main_weapon_background"></div> -->
            <div class="yellow_banner"></div>
            <img src="/static/main_weapon/splattershot.png" alt="Splattershot" class="main_image">
            <!-- <img src="/static/sub_weapon/suction bomb.png" alt="Suction Bomb" class="sub_image">
            <img src="/static/special_weapon/trizooka.png" alt="Trizooka" class="special_image"> -->
            <!-- <p>{{mains[1]}}</p> -->
        </div>
        {% endfor %}
    </div>
    <div>
        <p><a href="/main/{{page-1}}">back</a></p>
        <p><a href="/main/{{page+1}}">next</a></p>
    </div>
</div>
{% endblock %}