{% extends "layout.html" %}
{% block content %}
<div class="weapon_grid_background">
    <div class="weapon_grid">
        {% for weapon in weapon %}
        <div class="all_weapon">
            {% if weapon[0] != selected_weapon[0] %}
            <a href="/main/{{page}}/{{weapon[0]}}"><img src="/static/main_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="main_image"></a>
            {% else %}
            <a href="/main/{{page}}/0"><img src="/static/main_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="main_image"></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="back_button"><a href="/main/{{page-1}}/{{selected_weapon[0]}}">back</a></div>
    <div class="next_button"><a href="/main/{{page+1}}/{{selected_weapon[0]}}">next</a></div>
</div>
{% if selected_weapon[0] != 0 %}
<div class="all_weapon_data">
    <h1 class="all_weapon_name">{{selected_weapon[1]}}</h1>
    <p>Damage {{selected_weapon[3]}}</p>
    <p>Range {{selected_weapon[4]}}</p>
    <p>Attack rate {{selected_weapon[5]}}</p>
    <p>Ink usage {{selected_weapon[6]}}</p>
    <p>Speed while shooting {{selected_weapon[7]}}</p>
</div>
{% endif %}
{% endblock %}