<div nav>
    <div class="nav-bottom-bar">
        <a href="/games"><p class="font1">©chchnyanko</p></a>
    </div>
    <div class="nav-navbar">
        <a href="/" class="nav-navbar-box"><img src="/static/other_images/navhome.png" alt="Home" class="nav-navbar-box"></a>
        <a href="/all/1/0" class="nav-navbar-box"><img src="/static/other_images/navweapon.png" alt="Weapons" class="nav-navbar-box"></a>
        <a href="/main/1/0" class="nav-navbar-box"><img src="/static/other_images/navmain.png" alt="Main Weapons" class="nav-navbar-box"></a>
        <a href="/sub/1/0" class="nav-navbar-box"><img src="/static/other_images/navsub.png" alt="Sub Weapons" class="nav-navbar-box"></a>
        <a href="/special/1/0" class="nav-navbar-box"><img src="/static/other_images/navspecial.png" alt="Special Weapons" class="nav-navbar-box"></a>
    </div>
    <a href="/admin_login" class="nav-admin"><img src="/static/other_images/admin.png"></a>
</div>