<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="bottom_bar"></div>
    <div class="navbar">
        <a href="/" class="navbar_box">home</a>
        <a href="/all/1/0" class="navbar_box">all</a>
        <a href="/main/1" class="navbar_box">main</a>
        <a href="/sub/1" class="navbar_box">sub</a>
        <a href="/special/1" class="navbar_box">special</a>
        <a href="/admin" class="navbar_box">admin</a>
    </div>
</body>
</html>