<div nav>
    <div class="nav-bottom-bar">
        <img src="/static/other_images/loading.gif" style="position: fixed; right: 0; bottom: 130px;">
        <img src="/static/other_images/splatoon3_loading.gif" style="position: fixed; right: 0; bottom: 0;">
        <p>©chchnyanko</p>
    </div>
    <div class="nav-navbar">
        <!-- TODO -->
        <!-- replace these with images -->
        <a href="/" class="nav-navbar-box">Home page</a>
        <a href="/all/1/0" class="nav-navbar-box">Weapons</a>
        <a href="/main/1/0" class="nav-navbar-box">Main Weapons</a>
        <a href="/sub/1/0" class="nav-navbar-box">Sub Weapons</a>
        <a href="/special/1/0" class="nav-navbar-box">Special Weapons</a>
        <a href="/admin_login" class="nav-navbar-box">Admin</a>
    </div>
</div>