{% extends "layout.html" %}
{% block content %}
<div class="weapon_grid_background">
    <div class="weapon_grid">
        {% for weapon in weapon %}
        <div class="all_weapon">
            {% if weapon[0] != selected_weapon[0] %}
            <a href="/sub/{{page}}/{{weapon[0]}}"><img src="/static/sub_weapon/{{weapon[0]}}.png" alt="{{weapon[1]}}" class="main_image"></a>
            {% else %}
            <a href="/sub/{{page}}/0"><img src="/static/sub_weapon/{{weapon[0]}}.png" alt="{{weapon[1]}}" class="main_image"></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="back_button"><a href="/sub/{{page-1}}/{{selected_weapon[0]}}">back</a></div>
    <div class="next_button"><a href="/sub/{{page+1}}/{{selected_weapon[0]}}">next</a></div>
</div>
{% if selected_weapon[0] != 0 %}
<div class="all_weapon_data">
    <h1 class="all_weapon_name">{{selected_weapon[1]}}</h1>
</div>
{% endif %}
{% endblock %}