<div class="weapon-data-background">
    <div class="weapon-data-yellow-background">
        <div class="weapon-data-name">
            <h1>{{selected_weapon[1]}}</h1>
        </div>
    </div>
    <div class="weapon-data-grid">
        {% if title == "main" %}
        {% set hello_levi = 1 %}
        {% else %}
        {% set hello_levi = 0 %}
        {% endif %}
        <img src="/static/{{title}}_weapon/{{selected_weapon[hello_levi]}}.png" alt="{{selected_weapon[1]}}" class="weapon-data-img">
        <div>
            {% for i in range(selected_weapon | length - 2) %}
            <p> {{columns[i + 2]}} {{selected_weapon[i + 2]}}</p>
            {% endfor %}
        </div>
    </div>
</div>