<div class="weapon-grid">
    {% for weapon in weapons %}
    <div {{weapon[1]}}>
        {% if weapon[0] != selected_weapon[0] %}
        <a href="/{{title}}/{{page}}/{{weapon[0]}}"><img src="/static/{{title}}_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="weapon-img"></a>
        {% else %}
        <a href="/{{title}}/{{page}}/0"><img src="/static/{{title}}_weapon/{{weapon[1]}}.png" alt="{{weapon[1]}}" class="weapon-img"></a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% if page == 1 %}
<div back><a href="/{{title}}/{{total_pages}}/{{selected_weapon[0]}}" class="weapon-back-button">back</a></div>
{% else %}
<div back><a href="/{{title}}/{{page-1}}/{{selected_weapon[0]}}" class="weapon-back-button">back</a></div>
{% endif %}
{% if page >= total_pages %}
<div next><a href="/{{title}}/{{1}}/{{selected_weapon[0]}}" class="weapon-next-button">next</a></div>
{% else %}
<div next><a href="/{{title}}/{{page+1}}/{{selected_weapon[0]}}" class="weapon-next-button">next</a></div>
{% endif %}