<div class="weapon-grid">
    {% for weapon in weapons %}
    <div {{weapon[1]}}>
        {% if title == "main" %}
        {% set image = weapon[1] %}
        {% else %}
        {% set image = weapon[0] %}
        {% endif %}
        {% if weapon[0] != selected_weapon[0] %}
        <a href="/{{title}}/{{page}}/{{weapon[0]}}"><img src="/static/{{title}}_weapon/{{image}}.png" alt="{{weapon[1]}}" class="weapon-img" onerror="this.onerror=null;this.src='/static/other_images/loading.gif'"></a>
        {% else %}
        <a href="/{{title}}/{{page}}/0"><img src="/static/{{title}}_weapon/{{image}}.png" alt="{{weapon[1]}}" class="weapon-img" onerror="this.onerror=null;this.src='/static/other_images/loading.gif'"></a>
        {% endif %}
    </div>
    {% endfor %}

    {% if page == 1 %}
    <a href="/all/{{total_pages}}/{{selected_weapon[0]}}"><div class="weapon-back-button font2">back</div></a>
    {% else %}
    <a href="/all/{{page-1}}/{{selected_weapon[0]}}"><div class="weapon-back-button font2">back</div></a>
    {% endif %}
    {% if page >= total_pages %}
    <a href="/all/{{1}}/{{selected_weapon[0]}}"><div class="weapon-next-button font2">next</div></a>
    {% else %}
    <a href="/all/{{page+1}}/{{selected_weapon[0]}}"><div class="weapon-next-button font2">next</div></a>
    {% endif %}
</div>